.hero-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background-color 1s ease;
}

.hero-wrapper:not(.video-loaded) {
    background-color: #72a2db;
}

.vidio-container {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    background-color: #72a2db;
}

.bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; /* 텍스트가 비디오 위에 보이도록 설정 */
}

.hero-box {
    width: 1250px;
    height: 80vh;
    padding: 40px;
    border-radius: 16px;
    text-align: center;
    color: #fff;
    text-shadow: 3px 4px 5px rgb(58, 97, 156);
    font-family: 'MyLotteBold'; 
    font-weight: 300;
}

.hero-subtitle {
    font-size: 1.75rem;
    margin-top: 120px;
    margin-bottom: 20px;
}

.hero-title {
    font-size: 6rem;
    line-height: 1.3;
}

.font-b {
    background-color: rgb(57, 57, 192);
}

.font-text {
    font-style: italic;
}

.hero-description {
    font-size: 1.125rem;
    color: #4b5563;
    margin-top: 20px;
    line-height: 1.6;
}

@font-face {
    font-family: 'MyLotteBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.0/MyLotteBold.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    }

    /* 반응형 설정 */
@media screen and (max-width: 1024px) {
    .hero-box {
        width: 90%;
        height: auto;
        padding: 30px;
    }

    .hero-title {
        font-size: 4rem;
    }

    .hero-subtitle {
        font-size: 1.5rem;
        margin-top: 80px;
    }

    .hero-description {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .hero-title {
        font-size: 3rem;
    }

    .hero-subtitle {
        font-size: 1.25rem;
        margin-top: 60px;
    }

    .hero-description {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 480px) {
    .hero-box {
        margin-bottom: 300px;
    }
    
    .hero-title {
        font-size: 2.5rem;
    }

    .hero-subtitle {
        font-size: 1rem;
        margin-top: 40px;
    }

    .hero-description {
        font-size: 0.85rem;
    }
}