/* ===== Layout ===== */
.app-container {
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  gap: 0;
}

section {
  min-height: 100vh;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

.wrapper {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.container {
  max-width: 1250px;
  margin: 50px 0px 100px 0px;
  text-align: center;
}

/* ===== Section Title ===== */
.title {
  font-size: 4.5rem;
  font-weight: 800;
  text-transform: uppercase;
  color: rgb(20, 14, 68);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.title::after {
  content: "";
  display: block;
  width: 60px;
  height: 9px;
  background: rgb(57, 57, 192);
  margin: 10px auto 20px;
}

/* ===== Scroll To Top ===== */
.scroll-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 1s, transform 1s;
}

.scroll-to-top:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.scroll-to-top:active {
  background-color: #004494;
}

/* ===== Responsive ===== */
@media (max-width: 768px) {
  .container {
    width: 100%;
  }

  .scroll-to-top {
    position: fixed;
    left: 50%;
    bottom: 20px;
    width: 40px;
    height: 40px;
    font-size: 12px;
    transform: translateX(-50%);
  }

  .scroll-to-top:hover {
    background-color: #0066cc;
    transform: translateX(-50%);
  }

  .scroll-to-top:active {
    background-color: #004494;
  }
}
